@import '@/node_modules/locomotive-scroll/dist/locomotive-scroll';
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 98%;
    --secondary: 90 39% 47%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    cursor: none;
  }
}
.custom-cursor {
  width: 18px;
  height: 18px;
  border: 4.5px solid #76a849;
  border-radius: 50%;
  z-index: 9999;
  position: absolute;
  pointer-events: none;
}
@keyframes cursorAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.expand {
  animation: cursorAnim 0.5s forwards;
}
@layer components {
  .zoom-image [data-rmiz-modal-overlay='visible'] {
    @apply bg-background/10 backdrop-blur;
  }

  .zoom-image [data-rmiz-modal-img] {
    @apply rounded-md lg:rounded-2xl;
  }
}

.nav-title {
  @apply text-primary before:bg-subtract text-[24px];
}
@layer utilities {
  .clip-path-polygon {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .clip-small-polygon {
    clip-path: polygon(25% 0.5%, 100% 0%, 100% 100%, 0.2% 100%);
  }
  .text-shadow {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  }
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.custom-radio {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
}

.hidden-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-icon {
  width: 16px;
  height: 16px;
  background-color: #d9d9d9;
  color: transparent;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
}

.hidden-input:checked + .radio-icon {
  background-color: white;
  color: #000000;
}

.embla {
  --slide-height: 19rem;
  --slide-spacing: 0rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__container-thumb {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide:nth-child(1) {
  flex: 0 0 100%;
}
.embla__slide:nth-child(2) {
  flex: 0 0 80%;
}
.embla__slide:nth-child(3) {
  flex: 0 0 80%;
}
.embla__slide:nth-child(4) {
  flex: 0 0 35%;
}
.embla__slide:nth-child(5) {
  flex: 0 0 80%;
}
.embla__slide:nth-child(6) {
  flex: 0 0 40%;
}
.embla__slide:nth-child(7) {
  flex: 0 0 80%;
}
.embla__slide:nth-child(8) {
  flex: 0 0 50%;
}
